ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
}

.nav button{
    background-color: #1a73e8;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    padding: 9px 23px;
    min-width: 96px;
    color: white;

}

#googlesearch{
    border-radius: 12px;
    width: 20%;
    height: 30px;
    border-style: solid;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .10);
    line-height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footleft{
    display: flex;
    float: left;
    flex-wrap: nowrap;
    min-width: 30%;
    justify-content: space-evenly;
}

.footcenter{
    display: flex;
    float: center;
    flex-wrap: nowrap;
    min-width: 30%;
    justify-content: space-evenly;
}

.footright{
    display: flex;
    float: right;
    flex-wrap: nowrap;
    min-width: 30%;
    justify-content: space-evenly;
}

.central {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding-top: 9%;
}
